*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }
  
  body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 550;
    color: rgb(187, 174, 174);
    background: url(./imagenes/fondo3.webp) no-repeat;
    background-size: 2000px 1000px;
  }
  
  nav{
    background-color: rgba(48, 48, 48, 0.6);
    
  }
  
  nav ul li{
    display: inline-block;
    margin: 10px;
    margin-left: 40px;
  }
  
  .submenu{
    background-color: rgba(201, 185, 185, 0.9);
    color: white;
  }
  
  nav ul li a{
    color: black;
    font: bold;
    padding: 0 1px;
    display: block;
    line-height: 50px;
    font-size: 20px;
    transition: 0s;
  }
  
  nav ul li a:hover{
      color: rgb(238, 58, 58);
  }
  
  nav ul li:hover > ul{
    top: 50px;
    opacity: 1;
    visibility:visible;
    transition: .2s linear;
  }
  
  nav ul ul{
    position: absolute;
    top: 10px;
    border-top: 3px brown solid;
    opacity: 1;
    visibility:hidden;
  }
  
  nav ul ul li{
    width: 120px;
    display: list-item;
    border: 3px rgb(0, 0, 0) solid;
  }
  
  table{
    background-color: rgba(255, 0, 0, .1);
    border-spacing: 0;
    border-collapse:collapse;
    margin-top: 250px;
    margin-left: 130px;
  }
  
  caption{
    padding: 5px;
    height: 20px;
    width: 400px;
    border: none;
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
  }
  
  td,
  tr{
    border: none;
    text-align: center;
    padding: 5px;
  }
  
  .titulos{
    background-color: rgb(0, 0, 0);
  }

  .res{
    color:black;
    font: bold;
    background-color: rgba(17, 16, 16, 0.3);
  }

  .gana{
    background-color: green;
  }

  .pierde{
    background-color: red;
  }
  
  @media screen and (min-width: 300px) and (max-width: 500px){
    body{
      font-size: 15px;
      background: rgb(56, 20, 200);
    }
    nav{
      background-image: none;
    }
    .menu{
      margin-left: 35px;
    }
    .activar{
      margin-left: 55px;
    }
    .sub-np{
      margin-top: 70px;
      margin-left: 45px;
    }
    .sub-nr{
      margin-top: 140px;
      margin-left: 45px;
    }
    .container-grupo1, .container-grupo2{
      display: inline;
    }
    table{
      margin-top: 1px;
      margin-bottom: 5px;
      margin-left: 1px;
    }
  }

  @media screen and (min-width: 300px) and (max-width: 500px){
    body{
      font-size: 15px;
      background: rgb(56, 20, 200);
    }
    nav{
      margin-left: 0%;
      height: 0%;
      width: 100%;
    }
    nav ul{
      margin-right: 9%;
    }
    .activar{
      height: 0%;
      width: 100%;
    }
    .sub-np{
      height: 0%;
      width: 40%;
    }
    .sub-nr{
      height: 0%;
      width: 40%;
    }
    .estadisticas{
        margin-left: 100px;
    }
    caption{
       height: 0%;
       width: 110%;
    }
    table{
      height: 0;
      width: 100%;
    }
}

@media screen and (min-width: 500px) and (max-width: 800px){
  body{
    font-size: 20px;
    background-image: none;
    background: rgb(56, 20, 200);
  }
  .menu{
    margin-left: 35px;
  }
  .activar{
    margin-left: 55px;
  }
  .sub-np{
    margin-top: 70px;
    margin-left: 45px;
  }
  .sub-nr{
    margin-top: 140px;
    margin-left: 45px;
  }
  .estadisticas{
    margin-left: 100px;
  }
  .container-grupo1, .container-grupo2{
    display: inline;
  }
  caption{
    height: 0%;
    width: 97%;
 }
  table{
   height: 0;
   width: 70%;
  }
}
  