*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }
  
  body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 550;
    
    background-size: 2000px 1000px;
  }
  
  nav{
    background-color: rgba(48, 48, 48, 0.6);
    
  }
  
  nav ul li{
    display: inline-block;
    margin: 10px;
    margin-left: 40px;
  }
  
  .submenu{
    background-color: rgba(201, 185, 185, 0.9);
    color: white;
  }
  
  nav ul li a{
    color: black;
    font: bold;
    padding: 0 1px;
    display: block;
    line-height: 50px;
    font-size: 20px;
    transition: 0s;
  }
  
  nav ul li a:hover{
      color: rgb(238, 58, 58);
  }
  
  nav ul li:hover > ul{
    top: 50px;
    opacity: 1;
    visibility:visible;
    transition: .2s linear;
  }
  
  nav ul ul{
    position: absolute;
    top: 10px;
    border-top: 3px brown solid;
    opacity: 1;
    visibility:hidden;
  }
  
  nav ul ul li{
    width: 120px;
    display: list-item;
    border: 3px rgb(0, 0, 0) solid;
  }

  img{
    height: 890px;
    width: 1900px;
  }

  @media screen and (min-width: 300px) and (max-width: 500px){
    body{
      font-size: 15px;
      background: rgb(56, 20, 200);
    }
    .menu{
      margin-left: 35px;
    }
    .activar{
      margin-left: 55px;
    }
    .sub-np{
      margin-top: 70px;
      margin-left: 45px;
    }
    .sub-nr{
      margin-top: 140px;
      margin-left: 45px;
    }
    .estadisticas{
      margin-left: 100px;
    }
    .container-grupo1, .container-grupo2{
      display: inline;
    }
    caption{
      height: 0%;
      width: 97%;
   }
    table{
     height: 0;
     width: 70%;
    }
  }
  
  @media screen and (min-width: 500px) and (max-width: 800px){
    body{
      font-size: 20px;
      background-image: none;
      background: rgb(56, 20, 200);
    }
    .menu{
      margin-left: 35px;
    }
    .activar{
      margin-left: 55px;
    }
    .sub-np{
      margin-top: 70px;
      margin-left: 45px;
    }
    .sub-nr{
      margin-top: 140px;
      margin-left: 45px;
    }
    .estadisticas{
      margin-left: 100px;
    }
    .container-grupo1, .container-grupo2{
      display: inline;
    }
    caption{
      height: 0%;
      width: 97%;
   }
    table{
     height: 0;
     width: 70%;
    }
  }